doctype html
html(ng-app="starter")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
		title
		link(href="lib/ionic/css/ionic.css", rel="stylesheet")
		link(href="css/style.css", rel="stylesheet")
		script(src="lib/ionic/js/ionic.bundle.js")
		script(src="cordova.js")
		script(src="js/app.js")
		script(src="js/controllers.js")
		script(src="js/filters.js")
	body
		div(ng-controller="TodoController")
			ion-pane
				ion-header-bar(class="bar-positive")
					h1(class="title") TodoApp
				form(ng-submit="addTodo()")
					div(class="bar bar-subheader item-input-inset")
						label(class="item-input-wrapper")
							input(pattern="[A-Za-z0-9_-]{1,15}$", required="", type="text", ng-model="todoText", size="30", placeholder ="add new todo here")
						button(class="button button-small button-positive", type="submit", value="add") add
				ion-content(class="has-subheader")
					ion-list
						ion-item(class="item-checkbox", ng-repeat="todo in todos")
							label(class="checkbox")
								input(type="checkbox", ng-model="todo.done") 
							|{{todo.text}}
				ion-footer-bar(class="bar-positive")
					span(class="title") {{ remaining() }} of {{ todos.length }} remaining
					button(class="button button-clear", href="#", ng-click="archive()") Delete 
